@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
:root {
	--bgPage: #4280ff;
	--bgCalculator: #f7f8fa;
	--bgButtons: #e6f0f7;
	--colorSecondFont: #868686;
	--font: 'Noto Sans KR', sans-serif;
}
body {
	background-image: linear-gradient(
		to right top,
		#6b73d1,
		#6a7ad5,
		#6a81d9,
		#6b88dd,
		#6c8fe0,
		#7598e4,
		#7ea0e7,
		#87a9eb,
		#99b6f0,
		#aac4f5,
		#bcd1fa,
		#cedfff
	);
	display: flex;
	text-align: center;
	justify-content: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100%;
	font-family: var(--font);
}

.calculator {
	position: absolute;
	background-color: var(--bgCalculator);
	width: 40vh;
	height: 66vh;
	top: 15%;
	overflow: hidden;
	box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgb(233, 233, 233);
	border-radius: 2%;
}
.panel #displayContent {
	display: grid;
	justify-content: right;
	align-items: flex-end;
	font-size: 1.8rem;
	margin: 0 3vh 1.5vh 2vh;
	height: 7.2vh;
}
.panel #displayOfProcess {
	display: grid;
	justify-content: right;
	align-items: flex-end;
	font-size: 1rem;
	height: 6.8vh;
	margin: 1vh 3vh 0vh 2vh;
	color: var(--colorSecondFont);
}
#keyboard {
	padding: 0.5vh;
	margin: 1vh 1vh 2vh 3vh;
	display: grid;
	height: 50vh;
	justify-content: space-between;
	grid-template: repeat(4, 10vh) / repeat(4, 8vh);
}
.buttons {
	display: grid;
	align-items: center;
	padding: 0;
	height: 6vh;
	width: 6vh;
	outline: 0;
	color: var(--bgCalculator);
	cursor: pointer;
	border-radius: 42%;
}
.numbers {
	cursor: pointer;
	width: 6vh;
	height: 6vh;
	display: grid;
	background-color: var(--bgButtons);
	align-items: center;
	border-radius: 42%;
}
.buttons:nth-child(4) {
	background-color: #2382f7;
}
.buttons:nth-child(8) {
	background-color: #196bde;
}
.buttons:nth-child(12) {
	background-color: #1557c0;
}
.buttons:nth-child(16) {
	background-color: #13459c;
}
.buttons:nth-child(20) {
	background-color: #0f3375;
}
